* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-purple: rgb(244, 218, 255);
  --mid-purple: rgb(192, 140, 215);
  --dark-grey: #363636;
  --gradient-purple-white: linear-gradient(
    330deg,
    rgba(184, 0, 255, 1) 0%,
    rgb(254, 217, 255) 40%,
    rgba(184, 0, 255, 1) 100%
  );
}

body {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: var(--dark-grey);
  background-color: #222222;
}

.main-container {
  border: 10px solid var(--light-purple);
  background: var(--gradient-purple-white);
  border-radius: 40px;
  width: 390px;
}
.app-container {
  display: grid;
  justify-content: center;
  justify-items: center;
  padding: 10px 20px;
  gap: 20px;
}
.weather-container,
.weather-info,
.app-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #f9f9f9;
}
.weather-container {
  flex-direction: row;
  box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
  gap: 10px;
  background: var(--mid-purple);
  /* border: 1px solid var(--light-purple); */
  border-radius: 25px;
  padding: 10px 30px;
}

.weather-icon img {
  width: 150px;
  height: 150px;
  margin-left: 0;
  margin-left: -30px;
}

.temp {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  white-space: nowrap;
  cursor: pointer;
}

.country,
.city {
  font-size: 20px;
  margin: 0;
}

#forecast {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.day {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  text-align: center;
  width: 300px;
}

.day-name {
  font-size: 0.8rem;
  font-weight: bold;
}

.date {
  margin-top: 10px;
  font-size: 0.8rem;
  font-weight: 400;
}

.day > .icon {
  width: 100px;
  height: 100px;
  margin-top: 10px;
}

.day > .temp {
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}
